# Core backend
Flask==2.3.3
flask-cors==4.0.0
flask-sqlalchemy==3.0.5
gunicorn==21.2.0

# Machine Learning
tensorflow==2.11.0
keras==2.11.0

# Numerical & image processing
numpy==1.23.5
opencv-python-headless==4.7.0.72
Pillow==9.5.0
